<div class="jumbotron-fluid mb-5 mt-3">
	<h1 class="display-4 text-center">News Grabber</h1>
	<p class="lead">This site pulls articles from NPR and displays them below. Users can add or delete notes about each of
		the articles.</p>
	<hr class="my-4">
	<p>Click the button below to grab articles from NPR.com</p>
	<a id="scrape" class="btn btn-info btn-lg text-white" role="button">Get News</a>
</div>
<div class="container-fluid article-container">

	{{#if articles}}
	{{#each articles}}
	<div class="card border-dark mb-3" data-id={{_id}}>
		<div class="card-body">
			<h3 class="card-title">
				<a class="text-info" href="{{url}}">{{title}}</a>

			</h3>
			<h6 class="card-subtitle mb-2 text-muted">{{date}}</h6>
			<p class="card-text">{{summary}}</p>
			<button type="button" class="btn btn-secondary notes text-white" data-id={{_id}} data-toggle="modal" data-target="#notesModal">Notes
				<span class="badge badge-light">{{notes.length}}</span></button>
		</div>
	</div>
	{{/each}}
	{{else}}
	<div>
		<h3 class="text-info">There aren't any articles scraped.</h3>
	</div>
	{{/if}}

	<!-- Modal -->
	<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="notesModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="notes">
					</div>
					<form>
						<div class="form-group">
							<textarea class="form-control" id="note-text" placeholder="Add New Note"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-info" id="savenote">Save Note</button>
				</div>
			</div>
		</div>
	</div>


</div>